# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

VIDEO_READY/
# Windows Installer files
*.cab
*.msm
*.msp

AE/Adobe After Effects Auto-Save
air.0.1.mp4
TOUCH/*.mov
VIDEO/*.*
VIDEO/
backup/
AE/Автосохранение Adobe After Effects/
AE/Журналы bead.aep/
*.dmp

SAMPLES/
Samples/
stuff/lstudio/
geo/TREE/*.*
geo/TREE1/*.*
geo/TREE2/*.*
geo/oil/*.*
geo/oil_drop/*.*
geo/sim_drops/*.*
houdini/backup
geo/oil_drop_v2/*.*
geo/oil_drop/*.*

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
VIDEO_READY/birds.0.mov
VIDEO_READY/ground.4.mov
VIDEO_READY/prostit_all.3.mov
VIDEO_READY/ground.3.mov
VIDEO_READY/ground_l.3.mov
VIDEO_READY/prost_l.3.mov
AE/Adobe After Effects Auto-Save/bead auto-save 40.aep
VIDEO_READY/Meditation.mov
